html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  color: #4e4e4e;
  background-color: #fff;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.btn {
  background: none;
  border-radius: 10px;
  color: #239266;
  padding: 5px 20px 5px 20px;
  border: solid #239266 2px;
  text-decoration: none;
  margin: 0 2px 0 0;
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
}

.quit-button {
  display: inline-block;
  margin-top: 2em;
  color: #ca1a1a;
  border-color: #ca1a1a;
}

.quit-button,
.check-for-updates-button {
  font-size: 14px;
}

a {
  color: #f57023;
}

.copyright {
  font-size: 0.8em;
  margin-top: 1em;
  display: flex;
}

.copyright__text {
  margin: auto;
}

header {
  display: flex;
  flex-grow: 0;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #24292e;
  color: rgba(255,255,255,0.75);
}

header svg {
  fill: rgba(255,255,255,0.75);
}

.header__primary {
  margin: 10px 10px 5px 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__primary a,
.header__primary a:visited {
  text-decoration: none;
  color: rgba(255,255,255,0.75);
}

.header__secondary {
  margin: 0 10px 10px 10px;
  width: 100%;
  min-height: 1em;
}

.edit-token-button,
.add-token-form__cancel-button,
.retry-button,
.config-button,
.back-button {
  color: rgb(146, 146, 146);
  background: none!important;
  border: none;
  padding: 0!important;
  text-decoration: underline;
  cursor: pointer;
}

.config-button,
.config-spacer {
  width: 24px;
}

.attributions__icon {
  vertical-align: middle;
  padding-right: 0.5em;
  width: 24px;
}

.attributions__text {
  font-size: 0.9em;
}

.auto-load-setting {
  margin-right: 0.5em;
}

header h1 {
  font-size: 1.4em;
  margin: 0;
}

.last-checked {
  font-size: 0.7em;
  text-align: center;
}

.app-loading-message,
.unchecked-notice {
  margin: 12px;
}

.fetching-in-progress {
  width: 100%;
  padding: 4px 5px;
  background-color: #24292e;
  font-size: 0.8em;
  text-align: center;
}

.offline-notice {
  width: 100%;
  padding: 4px 5px;
  background-color: #24292e;
  font-size: 0.9em;
}

.notification {
  padding: 12px 12px 12px 6px;
  cursor: pointer;
  border-top: 1px solid #eee;
  display: flex;
}

.notification__unread {
  background-color: rgba(245, 112, 35, 0.1);
  position: relative;
}

.notification__new-dot {
  position: absolute;
  font-size: 2.5em;
  left: 23px;
  top: 5px;
  border-radius: 20px;
  border: 1.2px solid #fff;
  width: 10px;
  height: 10px;
  background: #cb2431;
}

.notification__type {
  fill: #28a745;
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
  max-width: 50px;
  min-width: 50px;
  width: 50px;
  align-items: center;
  overflow: hidden;
  margin-top: 14px;
}

.notification__type--closed {
  fill: #cb2431;
}

.notification__type--merged {
  fill: #6f42c1;
}

.notification__type svg {
  width: 16px;
  height: 16px;
}

.notification__image img {
  width: 32px;
  border-radius: 50%;
}

.notification__image {
  margin-right: 10px;
  padding-top: 5px;
  position: relative;
}

.notification__time {
  font-size: 0.7em;
  color: rgb(146, 146, 146);
}

.notification__mark-unread,
.notification__mark-read {
  font-size: 0.7em;
  color: rgb(146, 146, 146);
  margin-left: 2em;
  background: none!important;
  border: none;
  padding: 0!important;
  text-decoration: underline;
  cursor: pointer;
}

.notification__repo {
  font-weight: 800;
  margin-bottom: 5px;
}

.notification__title {
  margin-bottom: 5px;
}

.clear-errors-button {
  margin: 5px auto;
  display: block;
  width: 50%;
}

.error-message {
  font-size: 0.9em;
  color: #d60000;
  padding: 12px;
  border-top: 1px solid #eee;
}

.add-token-form {
  padding: 10px;
}

.add-token-form__input {
  display: block;
  font-size: 1.5em;
  padding: 5px;
  width: 100%;
}

.add-token-form__save-button {
  margin: 10px 10px 10px 0;
}

.no-notifications {
  padding: 12px;
  border-top: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.no-notifications-icon {
  vertical-align: middle;
  margin: 0.5em;
}

.config-page {
  margin: 12px;
}

.config-page h2 {
  margin: 0 0 10px 0;
}

.spinner {
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  vertical-align: top;
}

.main {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.vanisher {
  width: 100%;
  overflow: hidden;
  transition: max-height 1s;
}

.vanisher--visible {
  max-height: 300px;
  transition: max-height 1s;
}

.vanisher--invisible {
  max-height: 0;
  transition: max-height 1s;
}
